@model myShopApp.models.factorDetail

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>factorDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.productid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.productid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numbers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numbers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.itemPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.itemPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fianlPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fianlPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sellerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sellerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.factor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.factor.id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
